.rooms-footer {
    width: 100vw;
    background-color: #ebe8d6;
    left: 0;
    right: 0;
    position: absolute;
}

.rooms-container-footer {
    margin: 0 auto;
    max-width: 290px;
    text-align: center;
    @include respond-to('sm') {
    max-width: 1020px;
    }
}

.rooms-footer__contact-us {
    padding-top: 40px;
    font-family: $Cinzel;
    font-size: 1rem;
    color: #af191a;
    letter-spacing: 5px;
}

.rooms-locations {
    @include respond-to('sm') {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    }
}

.rooms-footer-location {
    padding-top: 50px;

&__city {
    padding-bottom: 15px;
    font-family: $Cinzel;
    font-size: 0.875rem;
    color: #af191a;
    letter-spacing: 5px;
    text-transform: uppercase;
}
&__address {
    font-family: $Cardo;
    font-size: 0.875rem;
    @include respond-to('sm') {
    line-height: 1.6;
    }
}
}

.rooms-footer-links {
    margin-top: 62px;
    padding-bottom: 40px;
    @include respond-to('sm') {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    }

&__email {
    cursor: pointer;
    margin-bottom: 20px;
    font-family: $Cardo;
    font-style: italic;
    color: #000;
    text-decoration: none;
}

&__site {
    cursor: pointer;
    font-family: $Cinzel;
    font-size: 0.875rem;
    color: #af191a;
    text-decoration: none;
    letter-spacing: 5px;
}
}

.rooms-footer-links__email:hover {
    color: #af191a;
}

.rooms-footer-links__site:hover {
    color: #000;
}