$Cardo: Cardo, serif;
$Cinzel: Cinzel, serif;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'sm': only screen and
    (
      min-width: 768px
    ),
  'md': only screen and
    (
      min-width: 1024px
    ),
  'lg': only screen and
    (
      min-width: 1280px
    ),
  'xl': only screen and
    (
      min-width: 1440px
    ),
  'xxl': only screen and
    (
      min-width: 1920px
    )
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
